.aphorism-block {
  display: flex;
  flex-direction: column;
}

.quoter {
  height: 32px;
  width: 32px;
}

.quoter img {
  height: 32px;
  width: 32px;
}

.left-quoter {
  height: 32px;
  width: 32px;
  margin-top: 8px;
  margin-left: 8px;
  align-self: flex-start;
}

.left-quoter img {
  height: 32px;
  width: 32px;
}

.right-quoter {
  height: 32px;
  align-self: flex-end;
  justify-self: flex-end;
  margin-bottom: 8px;
  margin-right: 8px;
}

.aphorism-text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: pre-wrap;
  font-size: 28px;
  flex-grow: 1;
}