* {
  margin: 0;
  padding: 0;
  user-select: none;
}

html, body {
  height: 100% !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.background-image::before {
  display: block;
  background-image: url("../assets/images/background-0.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: "";
}

.scroll-bar-style {
  color-scheme: dark;
}

.background-color {
  background-color: #202020;
}

.content-block-dark-mode {
  color: white;
  background-color: #2e2e2e;
}

.content-block {
  border-radius: 8px;
  border-style: solid;
  border-color: #5a5a5a;
  border-width: 2px;
}

.text-global {
  font-family: "Microsoft YaHei", serif;
}

.row-0 {
  margin: 32px 32px 32px 32px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 32px;
}

.aphorism-block {
  display: flex;
  flex-direction: column;
}

.quoter {
  height: 32px;
  width: 32px;
}

.quoter img {
  height: 32px;
  width: 32px;
}

.left-quoter {
  height: 32px;
  width: 32px;
  margin-top: 8px;
  margin-left: 8px;
  align-self: flex-start;
}

.left-quoter img {
  height: 32px;
  width: 32px;
}

.right-quoter {
  height: 32px;
  align-self: flex-end;
  margin-bottom: 8px;
  margin-right: 8px;
}

.aphorism-text {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  white-space: pre-wrap;
  font-size: 28px;
  flex-grow: 1;
}

.clock-block {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 12px;
  padding-bottom: 12px;
}

@font-face {
  font-family: "Digital7";
  src: url("../assets/fonts/digital-7-4.ttf");
}

@font-face {
  font-family: "iconfont";
  src: url("../assets/fonts/iconfont.ttf");
}

.clock-block #date {
  font-size: 24px;
}

.clock-block #time {
  margin-top: 6px;
  margin-bottom: 6px;
  font-size: 96px;
  font-family: Digital7, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.clock-block #meta {
  font-size: 24px;
}

.avatar-block {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.avatar-block .avatar {
  height: 120px;
  width: 120px;
  border-radius: 64px;
  border: #5a5a5a solid 4px;
}

.avatar-block .avatar img {
  height: 120px;
  width: 120px;
  border-radius: 64px;
}

@keyframes avatarRotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.avatar-block .avatar img:hover {
  animation: avatarRotate 2s linear infinite;
}

.row-1 {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  margin-left: 32px;
  margin-right: 32px;
  margin-bottom: 48px ;
}

.todo-block {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 20%;
  margin-right: 32px;
}

.todo-title {
  font-size: 24px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 4px;
}

.todo-item {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 8px;
  font-size: 14px;
  display: flex;
  justify-content: flex-end;
}

.todo-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-right: auto;
  align-self: center;
  text-align: center;
  user-select: text;
}

.todo-item:hover {
  background-color: #101010;
}

.todo-icon {
  margin-left: 4px;
  margin-right: 4px;
  padding: 2px;
  border-radius: 4px;
}

.todo-icon:hover {
  background-color: #5a5a5a;
}

.todo-edit, .todo-check {
  color: aquamarine;
}

.todo-delete {
  color: red;
}

.todo-input {
  outline: none;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  background-color: #5a5a5a;
  margin-right: 4px;
  flex-grow: 1;
  border-radius: 4px;
  font-size: 14px;
  color: white;
  padding-left: 4px;
}

.todo-input:focus {
  border: white 1px solid;
  border-radius: 4px;
}

.todo-append {
  display: flex;
  justify-content: center;
  padding-bottom: 4px;
  padding-top: 4px;
  color: aquamarine;
  border-bottom-left-radius: inherit;
  border-bottom-right-radius: inherit;
}

.todo-append:hover {
  background-color: #101010;
}

#todo-list {
  overflow-y: auto;
  overflow-x: hidden;
  flex-grow: 1;
  height: 0;
}

::-webkit-scrollbar
{
  width: 10px;
}

::-webkit-scrollbar-track
{
  background: #2e2e2e;
}

/* Thumb */
::-webkit-scrollbar-thumb
{
  background: #101010;
  border-radius: 12px;
}

/* Buttons */
::-webkit-scrollbar-button
{
  border-style: solid;
  height: 10px;
  width: 10px;
}

/* Up */
::-webkit-scrollbar-button:vertical:decrement
{
  border-width: 0 5px 10px 5px;
  border-color: transparent transparent #404040 transparent;
  margin-bottom: 2px;
}

::-webkit-scrollbar-button:vertical:decrement:hover
{
  border-color: transparent transparent #101010 transparent;
}

/* Down */
::-webkit-scrollbar-button:vertical:increment
{
  border-width: 10px 5px 0 5px;
  border-color: #404040 transparent transparent transparent;
}

::-webkit-scrollbar-button:vertical:increment:hover
{
  border-color: #101010 transparent transparent transparent;
}

/*!* Left *!*/
/*::-webkit-scrollbar-button:horizontal:decrement*/
/*{*/
/*  border-width: 7px 14px 7px 0;*/
/*  border-color: transparent #404040 transparent transparent;*/
/*}*/

/*!* Right *!*/
/*::-webkit-scrollbar-button:horizontal:increment*/
/*{*/
/*  border-width: 7px 0 7px 14px;*/
/*  border-color: transparent transparent transparent #404040;*/
/*}*/

/*::-webkit-scrollbar-button:horizontal:increment:hover*/
/*{*/
/*  border-color: transparent transparent transparent #505050;*/
/*}*/
